* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(https://c4.wallpaperflare.com/wallpaper/435/396/857/purple-city-night-lights-neon-purple-hd-wallpaper-preview.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100vh;
}

main {
    background-color: rgba(189, 136, 253, 0.85);
    position: relative;
    top: 30%;
    border: 1px solid;
    border-radius: 5px;
    min-width: 540px;
    max-width: 50%;
    margin: auto;
    padding: 2em;
}

h1 {
    margin-bottom: 20px;
}

#search {
    border-radius: 5px 0 0 5px;
    border: none;
    padding: 10px;
    width: 70%;
    font-size: 16px;
    height: 42px;
}

#submit {
    border-radius: 0 5px 5px 0;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    width: 5em;
}

#weather-wrapper {
    display: flex;
    flex-direction: column;
    place-items: center;
    justify-content: center;
}

#weather-search {
    display: flex;
    width: 50%
}

#weather-data {
    background-color:rgba(255, 255, 255, 0.85);
    border-radius: 5px;
    margin-top: 20px;
    padding: 1.5em;
    text-align: center;
    align-items: center;
    gap: 12px;
}

#weather-data > img {
    border-radius: 50%;
    background-color: lightskyblue;
}